/* WOFI */

@import ".cache/wal/colors-waybar.css";

* {
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

/* Window */
window {
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: @background;
}

/* Input */
#input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @color7; /* White text */
    background-color: @background;
    border-radius: 5px;
}

/* Text */
#text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @color7;
}

/* Selected Entry */
#entry:selected {
    background-color: @color1;
    border-radius: 5px;
}   
